.vscode/*
.snapshots/*
Images/*
kinter_interface/*
tombolavideo/*
Tests/*
*.test.py
dist/*
build/*
__pycache__/citanje.cpython-310.pyc
__pycache__/drafting.cpython-310.pyc
__pycache__/drafting.cpython-311.pyc
__pycache__/izvlacenje.cpython-310.pyc
__pycache__/provera.cpython-310.pyc
__pycache__/tiket.cpython-310.pyc
__pycache__/tiket.cpython-311.pyc
kinter_interface/icon.png
kinter_interface/test.py
